{% extends "pages/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Home{% endblock %}


{% block content %}


<!-- Page Content -->
<div class="container">

<br />

<div class="row">

  <!-- Column on the extreme left of the page for formatting purposes-->
  <div class="col-md-1">
  </div>


  <!-- Content Column -->


  <div class="col-md-10">

      <div>
          About
      </div>

      <div id="trivia">
          This is a website for uploads.
      </div>

  </div>


  <!-- Column on the extreme right of the page for formatting purposes-->
  <div class="col-md-1">
  </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}

