{% load static %}


<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <title>
        {% block title %}Updown{% endblock %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static 'pages/img/favicon/favicon.ico' %}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'pages/css/bootstrap-5.3.3.min.css' %}">

    <!-- Pages app CSS -->
    <link rel="stylesheet" href="{% static 'pages/css/pages.css' %}">

</head>

