{% load static %}


<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <link rel="shortcut icon" type="image/png" href="{% static 'uploads/img/favicon/favicon.ico' %}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'uploads/css/bootstrap-5.3.3.min.css' %}">

    <!-- Games app CSS -->
    <link rel="stylesheet" href="{% static 'uploads/css/uploads.css' %}">

</head>

